<header> <!-- What's shown in Header & footer show up on all pages -->
  <p>This is the header</p> <!-- This line was on Home below :Anchor tag that goes to localhost:4200/home -->
  <!-- <a routerLink="/home">HOME</a> |
  <a routerLink="/about">ABOUT</a> |
  <a routerLink="/help/1">HELP</a> |
  <a routerLink="/revision">REVISION</a> |
  <a routerLink="/admin/login">Admin Login</a> -->
  <app-menu></app-menu>
  <hr>
</header>
<router-outlet></router-outlet> <!-- Where routed components will display -->
<footer>
  <hr>
  <p>This is the footer</p>
</footer>